DataClean/GridWind/Final/us-grid.fst filter=lfs diff=lfs merge=lfs -text
DataClean/Maps/CensusBorders/tl-borders/tl-borders.shp filter=lfs diff=lfs merge=lfs -text
DataClean/hysplit-completed/processed/set-1.zip filter=lfs diff=lfs merge=lfs -text
DataClean/hysplit-completed/processed/set-2.zip filter=lfs diff=lfs merge=lfs -text
